<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Welcome to cimena</title>
    </head>
    <body>
        <!-- navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{servlet-context}}/">
                        <span class="glyphicon glyphicon-lamp"></span>
                        cimena
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="{{servlet-context}}/movie/new">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add new movie</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Movie tags <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{servlet-context}}/movie-tag">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        Manage movie tags</a>
                                </li>
                                <li>
                                    <a href="{{servlet-context}}/movie-tag/new">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        New movie tag
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <!-- scripts and styles -->
        {% style "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" %}
        {% style "//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" %}
        {% style "/css/screen.css" %}

        {% script "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" %}
        {% script "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %}
        {% script "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" %}
        <script type="text/javascript">
            // Resolve name collision between jQuery UI and Twitter Bootstrap
            $.widget.bridge('uitooltip', $.ui.tooltip);
        </script>
        {% script "//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"%}
        <script type="text/javascript">
            var context = "{{servlet-context}}";
        </script>
        {% block page-scripts %}
        {% endblock %}
    </body>
</html>
